<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.share2u.view.dao.OptionMapper">
	<select id="getOptionData" parameterType="String" resultType="PageData">
		${value}
	</select>
	<select id="getOptionsByDashboardId" parameterType="Integer" resultType="OptionView">
		SELECT
			id,
			dashboard_id dashboardId,
			table_name tableName,
			content option1,
			chart_type seriesTypeView
		FROM
			`view_option` a
		WHERE
				a.vaild = 1
			AND a.dashboard_id = #{dashboardId}
	</select>
</mapper>