<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.share2u.view.dao.OptionMapper">
    <select id="getOptionData" parameterType="String" resultType="PageData">
		${value}
	</select>
    <resultMap id="OptionViewResultMap" type="OptionView">
        <id column="id" property="id"/>
        <result column="dashboard_id" property="dashboardId"/>
        <result column="table_name" property="tableName"/>
        <result column="content" property="option1"/>
        <result column="vaild" property="vaild"/>
        <association property="seriesTypeView" javaType="SeriesTypeView">
            <id column="chart_type" property="chartName"/>
        </association>
    </resultMap>
    <resultMap id="OptionVOResultMap" type="OptionVO">
        <id column="id" property="id"/>
        <result column="table_name" property="tableName"/>
        <result column="chart_type" property="seriesType"/>
		<result column="content" property="option1"/>
        <collection property="dimensions" ofType="Dimension" column="id" select="selectDimName">
        </collection>
        <collection property="measures" ofType="Measure" column="id" select="selectMeaName">
        </collection>
    </resultMap>
    <select id="getOptionsByDashboardId" parameterType="Integer" resultMap="OptionViewResultMap">
		SELECT
			id,
			dashboard_id,
			table_name,
			content,
			chart_type
		FROM
			`view_option` a
		WHERE
				a.vaild = 1
			AND a.dashboard_id = #{dashboardId}
	</select>
    <insert id="saveOption" parameterType="OptionVO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		view_option (
		  dashboard_id,
		  table_name,
		  content,
		  chart_type,
		  vaild
		)
		VALUES
		  (#{dashboardId}, #{tableName}, #{option1}, #{seriesType}, 1)
	</insert>
    <insert id="saveSOMOption" parameterType="OptionVO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		view_option (
		dashboard_id,
		table_name,
		content,
		chart_type,
		vaild,
		pathname
		)
		VALUES
		(#{dashboardId}, #{tableName}, #{option1}, #{seriesType}, 1,#{pathName})
	</insert>
    <insert id="saveDims" parameterType="java.util.List">
        insert into view_dimension (option_id,dim_name,dim_oper)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.optionId},#{item.dimName},#{item.dimOper})
        </foreach>
    </insert>
    <update id="deleOption" parameterType="Integer">
		update view_option set vaild =0 where id = #{optionId}
	</update>
    <select id="getOption" parameterType="Integer" resultMap="OptionViewResultMap">
		SELECT
			id,
			dashboard_id,
			table_name,
			content,
			chart_type
		FROM
			`view_option` a
		WHERE
			a.vaild = 1
			AND a.id = #{optionId}
	</select>
    <select id="getDims" resultType="PageData" parameterType="String">
		SELECT
			pathname,
			dim_name
		FROM
			view_option a
		LEFT JOIN view_dimension b ON a.id = b.option_id
		WHERE
			a.chart_type = "SOM"
		AND a.vaild = 1
		AND a.table_name=#{tableName}
	</select>
    <select id="getAllOptions" resultMap="OptionVOResultMap">
		SELECT
			a.id,
			a.table_name,
			a.chart_type,
			a.`content`
		FROM
			view_option a
		WHERE
			a.vaild = 1
	</select>
    <update id="updateOptionContent" parameterType="OptionVO">
		update view_option set content=#{option1} where id=#{id}
	</update>
    <select id="selectDimName" parameterType="Integer" resultType="Dimension">
		select dim_name name from view_dimension where option_id=#{id} and dim_oper ='0'
	</select>
    <select id="selectMeaName" parameterType="Integer" resultType="Measure">
		select dim_name name,dim_oper method from view_dimension where option_id=#{id} and dim_oper !='0'
	</select>
</mapper>