@CHARSET "UTF-8";
*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
.view {
    height: 100%;
    width:100%;
}

.topp {
    height: 60px;
    width:100%;
    position:absolute;
    top:0;
    line-height: 60px;
    background: #438eb9;
}

.content {
    width:100%;
    background-color: #F9F9F9;
    position:absolute;
    top: 60px;
    bottom: 20px;

}
.bottomm{
    position:absolute;
    width:100%;
    height: 20px;
    bottom: 0px;
    background: #000;
}

.t_l {
    float: left;
    display: inline;
}

.t_r {
    float: right;
    display: inline;
    color: #ffffff;

}

.content > div {
    float: left;
}

.content_l {
    width: 170px;
    height: 100%;
    margin-bottom: 20px;
    background: rgb(232, 235, 237)

}

.content_c {
    position: absolute;
    right: 188px;
    left: 170px;
    height: 100%;

}
.content_r {
    position: absolute;
    right: 0;
    width: 188px;
    height: 100%;
    margin-bottom: 20px;
    background: rgb(232, 234, 236);

}

#dims > li {
    padding: 2px 3px 2px 3px;
}


.l_top {
    height: 70px;
    position: absolute;
    width: 170px;
}
.l_top .dropdown{
    width:100% ;
}
.l_top .dropdown button{
    width:100% ;
}

.l_content {
    position:absolute;
    top:70px;
    bottom: 0;
    width: 170px;
}

.c_top {
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    background: rgb(232, 235, 237);
}

.c_content {
    background: rgb(243, 245, 246);
    position: absolute;
    top:72px;
    bottom: 0;
    width: 100%;

}

.r_title {
    height: 70px;
    position: absolute;
    width: 188px;
    background: #e8ebed;
    border-bottom: 1px solid  rgba(0, 0, 0, .1);
}



.chart-type {
    height: 214px;
    width: 188px;
    top:70px;
    position: absolute;
    background: #e8ebed;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid  rgba(0, 0, 0, .1);
}

.bdp-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.chart-type-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 0 0;
}
/*文本*/
.ico-type-2 {
    width: 16px;
    height: 16px;
    background: url(https://m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -1008px -1129px no-repeat;
}
/*数字*/
.ico-type-1 {
    width: 16px;
    height: 16px;
    background: url(https://m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -944px -1129px no-repeat;
}
/*时间*/
.ico-type-3 {
    width: 16px;
    height: 16px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -912px -1129px no-repeat;
}

*#r1div, #r2div {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 0 10px 0 10px;
    height: 36px;
    width: 100%;
}


#r1div > div, #r2div > div {
    display: inline;
    float: left;
    padding: 0 3px 0 3px;
}

.axis-head {
    float: left;
    width: 65px;
    padding-top: 10px;
    padding-left: 20px;
    height: 32px;
}

.view-header-left-name {
    font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, STHeitiSC-Light, WOL_SB, 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, 'Microsoft Yahei', sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin-left: 84px;
    line-height: 60px;
    color: #ffffff;
}

h3{
    display: inline;
    line-height: 60px;
    margin: 0 100px 0 20px;
}

.chartBox{
    width: 100%;
    height: 100%;
}

#chart_content{
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 16px 24px 0 rgba(81,129,228,.1);
    padding: 32px 40px 32px 40px;
    background-clip:content-box;
    height: 100%;
    width: 100%;
}

.select-head{
    padding: 3px 0 3px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.dims-head{
    padding: 3px 0 3px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
ol, ul {
    list-style: none;
}
.chart-type li {
    display: inline-block;
}
.chart-type li a {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 0px 4px 0;
    cursor: pointer;
    padding: 4px;
}
.block-body{
    padding: 6px 6px 6px 6px;
}
.xyAxis{
    position: absolute;
    top:290px;
}
.Kmeans{
    position: absolute;
    top:290px;
}
/*激活状态*/
.chart-type a.active {
    background-color: #FFF;
    box-shadow: 0 0 0 2px rgba(81,130,227,.06), inset 0 0 0 2px rgba(81,129,228,.6);
}
/*表格*/
 .chart-type a.disabled .C200 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -256px -1049px no-repeat
}
 .chart-type-icon.C200 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -224px -1049px no-repeat
}
/*指标卡*/
.chart-type a.disabled .C210 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -192px -1049px no-repeat
}
 .chart-type-icon.C210 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -1056px -1049px no-repeat
}
 .chart-type a.disabled .C211 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -977px -1009px no-repeat
}
 .chart-type-icon.C211 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -1009px -1009px no-repeat
}
/*簇状柱形图*/
 .chart-type a.disabled .C212 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) 0 -1049px no-repeat
}

 .chart-type-icon.C212 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -96px -1049px no-repeat
}
/*折线图*/
 .chart-type a.disabled .C220 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -160px -1049px no-repeat
}
 .chart-type-icon.C220 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -288px -1049px no-repeat
}
.chart-type a.disabled .C221 {
    width: 32px;
    height: 32px;
    background: url(../images/line.svg) no-repeat
}
.chart-type-icon.C221 {
    width: 32px;
    height: 32px;
    background: url(../images/lineblue.svg) no-repeat
}
 .chart-type a.disabled .C230 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -384px -1049px no-repeat
}
 .chart-type-icon.C230 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -416px -1049px no-repeat
}

 .chart-type a.disabled .C240 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -448px -1049px no-repeat
}
 .chart-type-icon.C240 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -480px -1049px no-repeat
}

.chart-type a.disabled .C241 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -640px -1049px no-repeat
}
.chart-type-icon.C241 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -672px -1049px no-repeat
}

 .chart-type a.disabled .C242 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -704px -1049px no-repeat
}
 .chart-type-icon.C242 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -736px -1049px no-repeat
}

 .chart-type a.disabled .C243 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -768px -1049px no-repeat
}
 .chart-type-icon.C243 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -800px -1049px no-repeat
}

 .chart-type a.disabled .C250 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -832px -1049px no-repeat
}
.chart-type-icon.C250 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -864px -1049px no-repeat
}
 .chart-type a.disabled .C261 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -896px -1049px no-repeat
}
 .chart-type-icon.C261 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -928px -1049px no-repeat
}
 .chart-type a.disabled .C271 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -960px -1049px no-repeat
}
.chart-type-icon.C271 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -992px -1049px no-repeat
}

.chart-type a.disabled .C271x {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -1024px -1049px no-repeat
}
.chart-type-icon.C271x {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -512px -1081px no-repeat
}



 .chart-type a.disabled .C272 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) 0 -1081px no-repeat
}

 .chart-type-icon.C272 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -32px -1081px no-repeat
}


 .chart-type a.disabled .C273 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -64px -1081px no-repeat
}

.chart-type-icon.C273 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -96px -1081px no-repeat
}



.chart-type a.disabled .C280 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -128px -1081px no-repeat
}

 .chart-type-icon.C280 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -160px -1081px no-repeat
}



 .chart-type a.disabled .C290 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -192px -1081px no-repeat
}

.chart-type-icon.C290 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -224px -1081px no-repeat
}



 .chart-type a.disabled .C300 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -256px -1081px no-repeat
}

.chart-type-icon.C300 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -288px -1081px no-repeat
}



 .chart-type a.disabled .C310 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -320px -1081px no-repeat
}

.chart-type-icon.C310 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -433px -1009px no-repeat
}


 .chart-type a.disabled .C320 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -465px -1009px no-repeat
}

 .chart-type-icon.C320 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -497px -1009px no-repeat
}




.chart-type a.disabled .C330 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -529px -1009px no-repeat
}

.chart-type-icon.C330 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -561px -1009px no-repeat
}



.chart-type a.disabled .C340 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -593px -1009px no-repeat
}

.chart-type-icon.C340 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -625px -1009px no-repeat
}



 .chart-type a.disabled .C350 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -657px -1009px no-repeat
}

 .chart-type-icon.C350 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -689px -1009px no-repeat
}



 .chart-type a.disabled .C351 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -721px -1009px no-repeat
}

 .chart-type-icon.C351 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -753px -1009px no-repeat
}



.chart-type a.disabled .C352 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -785px -1009px no-repeat
}

 .chart-type-icon.C352 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -817px -1009px no-repeat
}



 .chart-type a.disabled .C360 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -849px -1009px no-repeat
}

 .chart-type-icon.C360 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -881px -1009px no-repeat
}


.chart-type a.disabled .C370 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -913px -1009px no-repeat
}

 .chart-type-icon.C370 {
    width: 32px;
    height: 32px;
    background: url(//m1.bdp.cn/static/theme/light/svg-build/svg-sprite_27b1f3f.svg) -945px -1009px no-repeat
}
.chart-type a.disabled .SOM {
    width: 32px;
    height: 32px;
    background: url(../images/SOMsan.svg) no-repeat
}

.chart-type-icon.SOM {
    width: 32px;
    height: 32px;
    background: url(../images/SOMsanblue.svg) no-repeat
}
